HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
**/.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/test/resources/certs/
secretpad-api/client-java-kusciaapi/**/kusciaapi/
secretpad-api/client-java-kusciaapi/**/common/
secretpad-api/client-java-kusciaapi/**/serving/
secretpad-service/**/org/secretflow/proto/
secretpad-service/**/com/secretflow/spec/v1/
secretpad-web/config

### VS Code ###
.vscode/

tmp/
db/
log/
config/certs
config/server.jks
build/**/id_rsa*
build/**/settings.xml
docs/_build

.java-version
/test/TEST-secretpad.xml
/.jpb/
