server:
  tomcat:
    accesslog:
      enabled: true
      directory: /var/log/secretpad
  http-port: 8080
  port: 443
  ssl:
    enabled: true
    key-store: "file:./config/server.jks"
    key-store-password: secretpad
    key-alias: secretpad-server
    key-password: secretpad
    key-store-type: JKS

spring:
  task:
    scheduling:
      pool:
        size: 10
  application:
    name: secretpad
  jpa:
    database-platform: org.hibernate.community.dialect.SQLiteDialect
    show-sql: false
    properties:
      hibernate:
        format_sql: false
  datasource:
    hibernate.dialect: org.hibernate.dialect.SQLiteDialect
    driver-class-name: org.sqlite.JDBC
    url: jdbc:sqlite:./db/secretpad.sqlite
    hikari:
      idle-timeout: 60000
      maximum-pool-size: 1
      connection-timeout: 5000
  jackson:
    deserialization:
      fail-on-missing-external-type-id-property: false
      fail-on-ignored-properties: false
      fail-on-unknown-properties: false
    serialization:
      fail-on-empty-beans: false
  web:
    locale: zh_CN # default locale, overridden by request "Accept-Language" header.
  sql:
    init:
      schema-locations:
        - file:./config/schema/init.sql
      data-locations: file:./config/data/data.sql
      mode: always
      continue-on-error: true

logging:
  level:
    root: info
    org:
      hibernate:
        type: info

job:
  sync:
    enabled: false
  max-parallelism: 1

kusciaapi:
  address: 127.0.0.1:8083
  tls:
    cert-file: config/certs/client.crt
    key-file: config/certs/client.pem
    ca-file: config/certs/ca.crt
  token-file: config/certs/token

secretpad:
  platform-type: TEST
  auth:
    enabled: false
  response:
    extra-headers:
      Content-Security-Policy: "base-uri 'self';frame-src 'self';worker-src blob: 'self' data:;object-src 'self';"
  upload-file:
    max-file-size: -1    # -1 means not limit, e.g.  200MB, 1GB
    max-request-size: -1 # -1 means not limit, e.g.  200MB, 1GB
  data:
    dir-path: ../tmp/data/
  datasync:
    center: true
    p2p: false

sfclusterDesc:
  deviceConfig:
    spu: "{\"runtime_config\":{\"protocol\":\"SEMI2K\",\"field\":\"FM128\"},\"link_desc\":{\"connect_retry_times\":60,\"connect_retry_interval_ms\":1000,\"brpc_channel_protocol\":\"http\",\"brpc_channel_connection_type\":\"pooled\",\"recv_timeout_ms\":1200000,\"http_timeout_ms\":1200000}}"
    heu: "{\"mode\": \"PHEU\", \"schema\": \"paillier\", \"key_size\": 2048}"
  rayFedConfig:
    crossSiloCommBackend: "brpc_link"

tee:
  capsule-manager: capsule-manager.#.svc # tee capsule-manager service

data:
  sync:
    - org.secretflow.secretpad.persistence.entity.ProjectDO
    - org.secretflow.secretpad.persistence.entity.ProjectGraphDO
    - org.secretflow.secretpad.persistence.entity.ProjectGraphNodeDO
    - org.secretflow.secretpad.persistence.entity.ProjectJobDO
    - org.secretflow.secretpad.persistence.entity.ProjectTaskDO
    - org.secretflow.secretpad.persistence.entity.ProjectJobTaskLogDO
    - org.secretflow.secretpad.persistence.entity.ProjectDatatableDO